@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:wght@100..900&display=swap');
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --blue: rgb(0, 16, 39);
  --blue-light: rgb(63, 198, 251);
  --cyan: cyan;
  --blue-dark: rgb(33, 111, 207);
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--blue);
  color: var(--cyan);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
h2 {
  font-family: 'Michroma';
  font-size: 2rem;
  text-align: center;
}
.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* padding-bottom: 20px;
  border: 2px solid var(--cyan); */
}
.board-container {
  display: flex;
  gap: 30px;
}
button {
  cursor: pointer;
  padding: 12px 22px;
  outline: none;
  border: 2px solid rgb(5, 255, 230);
  background-color: var(--blue-light);
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  /* box-shadow: 2px 2px 10px 2px rgb(2, 217, 245); */
  font-weight: 800;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
button:active {
  background-color: var(--blue);
  color: var(--cyan);
}
footer {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: 500px;
  height: 460px;
  min-width: 470px;
  gap: 2px;
  background-color: var(--blue);
}
.box {
  background-color: var(--cyan);
  cursor: pointer;
}
.ship-box {
  background-color: var(--blue-dark);
}
.hit {
  background-color: greenyellow;
}
.miss {
  background-color: white;
}

.label {
  color: white;
  background-color: var(--blue);
}
.gameOver { 
  visibility: visible;
}